@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.title {
    font-family: 'Merriweather', serif;
}

#aboutHeadshot {
    border-radius: 8px;
}

#aboutScroll {
    overflow: auto;
    max-height: 31rem;
}

.is-background {
    object-fit: scale-down;
    margin: auto;
    display: block;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomeHeader {
    background: rgba(220, 220, 221, 0.9);
}