@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #1985A1;
$coral: #4C5C68;
$grey: #46494C;
$grey-light: #C5C3C6;
$grey-lighter: #DCDCDD;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $grey;
$grey-light: $grey-light;
$primary: $blue;
$link: $coral;
$widescreen-enabled: false;
$fullhd-enabled: false;
$navbar-height: 5rem;

// Update some of Bulma's component variables
$body-background-color: $grey-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// hero background
.has-bg-img-1 {
    background: url(https://images.unsplash.com/photo-1570570626315-95c19358f053?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1431&q=80) center center;
    background-size: cover;
}

.has-bg-img-2 {
    background: url(https://images.unsplash.com/photo-1519327567471-ae47752b8089?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80) center center;
    background-size: cover;
}

.has-bg-img-3 {
    background: url(https://images.unsplash.com/photo-1515459386663-33a27194bc2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) center center;
    background-size: cover;
}



// Import only what you need from
// npm run css-build
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/components/modal.sass";