<%- include("header"); %>

    <section class="hero is-small has-background-white-bis">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered">
                        <h1 class="title"> Error 404: We couldn't find what you're looking for. :(</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("footer"); %>