<%- include("header"); %>

    <section class="hero is-medium has-background-white-bis">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered">
                        <h1 class="title pb-4"> We couldn't find what you were looking for :(</h1>
                        <p class="subtitle is-4"> <a href="/">Return to the main page</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("footer"); %>