<%- include("header"); %>

    <section class="hero is-medium is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-two-fifths">
                        <div class="box">
                            <img id="aboutHeadshot" class="image is-2by1" src="../public/mitch1.jpg" alt="">
                        </div>
                    </div>
                    <div id="aboutScroll" class="column ml-6">
                        <h1 class="title is-1">
                            About Mitch
                        </h1>
                        <p class="subtitle is-5">Mitch brings over 30 years of dive experience to the North Idaho
                            community. Born and raised in the San Francisco Bay Area, Mitch started his SCUBA journey in
                            college at Santa Barbara City College's Marine Diving Technology program.
                        </p>
                        <p class="subtitle is-5">After college, he managed a seafood restaurant in Santa Barbara
                            before moving to Kahului, Maui. In Hawaii, Mitch and his wife, Angela, were youth pastor
                            and wife at a local church and he owned a dive business at Kapalua Beach. There, he showed
                            hundreds of new and experienced divers alike the world underneath the Pacific Ocean.
                        </p>
                        <p class="subtitle is-5">He and Angela returned to Santa Barbara, where he would join the Santa
                            Barbara Police Department for a 28 year career as a Sergeant and member of the SBPD SWAT
                            ("Special Weapons and Tactics") Team.
                        </p>
                        <p class="subtitle is-5">Still passionate about SCUBA Diving, Mitch would return to his
                            professional
                            loves of police work and SCUBA Diving when he and Angela moved to North Idaho in 2017. Since
                            then,
                            he has been working with clients all around North Idaho providing repair and maintenance
                            services.
                            He is also a current patrol deputy with the Kootenai County Sheriff's Department and a
                            Training Coordinator on the KCS Dive team.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-small has-background-white-bis">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="title is-2 mt-4">
                                North Idaho Dive Services
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column">
                        <div class="content">
                            <p class="title is-4 has-text-centered">Licensing & Qualifications</p>
                            <ul>
                                <li class="subtitle is-5">Fully insured & bonded</li>
                                <li class="subtitle is-5">State of Idaho Contractor's License</li>
                                <li class="subtitle is-5">Genuine badass license, will kick your ass for being a punk
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <p class="title is-4 has-text-centered">Download Something</p>
                            <a href="../public/mitch1.jpg" class="subtitle is-5">I'm supposed to put something here for
                                someone to download. Ideas?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("footer"); %>