<%- include("header"); %>

    <section class="hero is-medium is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-two-fifths">
                        <div class="box">
                            <img id="aboutHeadshot" class="image is-2by1" src="../public/mitch1.jpg" alt="">
                        </div>
                    </div>
                    <div id="aboutScroll" class="column ml-6">
                        <h1 class="title is-1">
                            About Mitch
                        </h1>
                        <p class="subtitle is-5">Mitch brings nearly 50 years of dive experience to the North Idaho
                            community.
                            Born and raised in the San Francisco Bay Area, Mitch started his scuba journey in 1972 when
                            he got certified to dive. He continued his diving journey in college at Santa Barbara City
                            College's Marine Diving Technology program, where he trained as a commercial diver.
                        </p>
                        <p class="subtitle is-5">After college, he managed a seafood restaurant in Santa Barbara before
                            moving to Maui with his wife. There, Mitch owned and operated a dive business at Kapalua Bay
                            where he taught hundreds to dive. In his spare time, he volunteered at a local church
                            teaching
                            and pastoring junior and senior high school students.
                        </p>
                        <p class="subtitle is-5">Upon returning to Santa Barbara, he continued to teach diving and
                            assisted with Santa Barbara City College's recreational dive program, where he taught
                            future dive instructors and embarked on a long career of public service. In 2017, Mitch
                            and his family moved to Oahu to serve at a local church and worked for a general contractor.
                        </p>
                        <p class="subtitle is-5">A year later, Mitch and his wife moved to North Idaho. Still passionate
                            about scuba diving, Mitch has been teaching diving, working underwater, and serving the
                            community.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-small has-background-white-bis pb-3">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="title is-2 mt-4">
                                North Idaho Dive Services
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column">
                        <div class="content">
                            <p class="title is-4 has-text-centered">Licensing & Qualifications</p>
                            <ul>
                                <li class="subtitle is-5">Fully insured in the State of Idaho</li>
                                <li class="subtitle is-5">State of Idaho Registered Contractor</li>
                                <li class="subtitle is-5">Certified <a href="https://www.naui.org/" target="_blank"
                                        rel="noreferrer noopener">NAUI</a> Instructor</li>
                                <li class="subtitle is-5">Certified <a href="https://www.padi.com/" target="_blank"
                                        rel="noreferrer noopener">PADI</a> Master Scuba Diver Trainer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <p class="title is-4 has-text-centered">View Photos of Our Work</p>
                            <ul>
                                <li class="subtitle is-5"><a href="../public/mitch2.jpg" target="_blank"
                                        rel="noreferrer noopener">New floatation</a></li>
                                <li class="subtitle is-5"><a href="../public/bouyancybox.jpg" target="_blank"
                                        rel="noreferrer noopener">Bouyancy control box</a></li>
                                <a href="../public/our_work.zip"><button class="button is-primary">Download Photos</button></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("footer"); %>