<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column has-text-centered">
                <div class="content">
                    <h2 class="title is-2 mt-4">
                        Ready to get started?
                    </h2>
                    <p class="subtitle">Fill & submit the form below, or give us a call at <strong><a
                                href="tel:1-805-331-3172">(805) 331-3172</a></strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="/" method="POST">
            <div class="field mt-4">
                <label class="label">Name*</label>
                <div class="control">
                    <input name="name" class="input" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Email*</label>
                <div class="control">
                    <input name="email" class="input" type="email" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Phone Number*</label>
                <div class="control">
                    <input id="phoneInput" name="phone" class="input" type="tel" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Location (for maintenance & recovery) </label>
                <div class="control">
                    <input name="location" class="input" type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">What can we help with?*</label>
                <div class="control">
                    <textarea name="details" class="textarea" required></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-primary" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            All Rights Reserved &copy; <strong>North Idaho Dive Services, LLC</strong>
        </p>
        <p>
            by <a href="mailto: tj.jan@outlook.com">Timothy Jan</a>
        </p>
    </div>
</footer>
<div id="modal" class="modal">
    <div id="modalBackground" class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body has-text-centered">
            <p class="title is-5"> We received your message! We'll be in touch soon.</p>
            <p class="subtitle is-5"> If you have any questions, please feel free to <a
                    href="tel:1-805-331-3172">call</a> or <a href="mailto: mitch@northidahodiveservices.com">email</a>!</p>
        </section>
    </div>
    <button id="modalClose" class="modal-close is-large" aria-label="close">Close</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../public/scripts.js"></script>
</body>

</html>