<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mystyles.css">
    <link href="../css/bulma-carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/nids.css">
    <title>North Idaho Dive Services</title>
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- <a class="navbar-item" href="/">
                <img id="header-logo "src="../public/logo2.png" width="112" height="112">
            </a> -->
            <a class="navbar-item" href="/">
                <strong>NORTH IDAHO DIVE SERVICES</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/about">
                    About
                </a>
                <a class="navbar-item" href="/testimonials">
                    Testimonials
                </a>
                <a class="navbar-item" href="/service">
                    Schedule a Service!
                </a>
            </div>
            <div class="navbar-end mr-5">
                <a href="mailto: mitch@northidahodiveservices.com" class="navbar-item"><strong>mitch@northidahodiveservices.com</strong></a>
                <a href="tel:1-805-331-3172" class="navbar-item"><strong>(805) 331-3172</strong></a>
            </div>
        </div>
    </nav>