<%- include("header"); %>

    <section class="hero is-medium has-carousel">
        <div id="carousel" class="hero-carousel hide-carousel">
            <div class="carousel-item has-background">
                <img class="is-background" src="../public/bayview1.jpg" alt="">
            </div>
            <div class="carousel-item has-background">
                <img class="is-background" src="../public/bayview2.jpg" alt="">
            </div>
            <div class="carousel-item has-background">
                <img class="is-background" src="../public/bayview3.jpg" alt="">
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div id="welcomeHeader" class="columns">
                    <div class="column is-8-desktop is-offset-2-desktop">
                        <h1 class="title is-1">
                            Welcome to North Idaho Dive Services!
                        </h1>
                        <h2 class="subtitle is-4 is-italic">
                            Serving the North Idaho community since <strong>2018</strong>.
                        </h2>
                        <h3 class="subtitle is-5">
                            Ready to get started?
                        </h3>
                        <p class="control">
                            <a class="button is-medium is-primary" href="/service">
                                <strong class="has-text-weight-semibold">Contact Us</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <div class="content">
                        <h2 class="title is-2">
                            What We Do
                        </h2>
                        <p class="subtitle">North Idaho Dive Services is a full-service dive business, offering a wide
                            range of services in the North Idaho community.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="section pb-2">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="title is-2">
                                What We Focus On
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <p class="title is-4">Installation & Maintenance</p>
                    <p>We offer a wide range of installation and maintenance services, including (but not limited to)
                        installation of floatation and air lines, bouyancy control boxes, and more. Having another
                        problem with your float home or dock? We can help with that too.
                    </p>
                </div>
                <div class="column has-text-centered">
                    <p class="title is-4">Property <br> Recovery</p>
                    <p>Wind storm blow your patio set off the dock? Drop your
                        favorite watch over the side of the boat? We'll do our best to find and recover your belongings
                        before they become the property of the creature from the black lagoon.
                    </p>
                </div>
                <div class="column has-text-centered">
                    <p class="title is-4">Training, Instruction, & Certification</p>
                    <p>With over 30 years of teaching experience, you too can learn how to scuba and
                        experience all there is to see underwater. Whether you're a complete beginner or looking to
                        add a new skill to your repertoire, we can help.
                    </p>
                </div>
            </div>

        </div>
        <div class="columns mt-6">
            <div class="column has-text-centered">
                <div class="content">
                    <h2 class="subtitle is-4">
                        With almost 50 years of dive experience, we can get the job done for you.
                    </h2>
                    <a href="/about" class="button is-primary"> Learn More </a>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-small is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="title is-2 mt-4">
                                What People Say About North Idaho Dive Services
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5">
                            “As a floating home owner in Bayview, I have seen Mitch's work on a number of projects. Any
                            job Mitch worked on in carpentry or in diving for home floatation issues has consistently
                            been excellent!”
                        </p>
                        <p class="subtitle">
                            Scott & Ann B.
                        </p>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-content">
                        <p class="title is-5">
                            “He is very knowledgeable about float homes and helped us get ours properly maintained and
                            balanced....We would highly recommend Mitch to anyone needing a diver to assist you with
                            your float home.”
                        </p>
                        <p class="subtitle">
                            Scott & Tracy N.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5">
                            “...He greets you with a smile and you feel an instant trust in his care. Because of Mitch's
                            dedication to perfection, we have called him back on several jobs. Giving Mitch 5 stars. ”
                        </p>
                        <p class="subtitle">
                            Dave & Robin L.
                        </p>
                    </div>
                </div>
                <div class="columns mt-4">
                    <div class="column has-text-centered">
                        <div class="content">
                            <a href="/testimonials" class="button is-primary"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("footer"); %>