<%- include("header"); %>

    <section class="hero is-medium has-carousel">
        <div id="carousel" class="hero-carousel">
            <div class="carousel-item">
                <img class="is-background" src="../public/bayview1.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="is-background" src="../public/bayview2.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="is-background" src="../public/bayview3.jpg" alt="">
            </div>
        </div>
        <div class="hero-head"></div>
        <div class="hero-body">
            <div class="container">
                <div id="welcomeHeader" class="columns">
                    <div class="column is-8-desktop is-offset-2-desktop">
                        <h1 class="title is-1">
                            Welcome to North Idaho Dive Services!
                        </h1>
                        <h2 class="subtitle is-4 is-italic">
                            Serving the North Idaho community since <strong>2018</strong>.
                        </h2>
                        <h3 class="subtitle is-5">
                            Ready to get to work?
                        </h3>
                        <p class="control">
                            <a class="button is-medium is-primary" href="/">
                                <strong class="has-text-weight-semibold">Schedule a Survey</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot"></div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <div class="content">
                        <h2 class="title is-2">
                            What We Do
                        </h2>
                        <p class="subtitle">North Idaho Dive Services is a full-service dive business, offering a wide
                            range of services
                            in the North Idaho community.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="title is-2">
                                What We Focus On
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <p class="title is-4">Installation & Maintenance</p>
                    <p>We offer a wide range of installation and maintenance services, including (but not limited to)
                        installation of floatation and air lines, bouyancy control boxes, and more. Having another
                        problem with your float home or dock? We can help with that too.
                    </p>
                </div>
                <div class="column has-text-centered">
                    <p class="title is-4">Property & Item Recovery</p>
                    <p>Water pump drift out into the lake? Wind storm blow your patio set off the dock? Drop your
                        favorite watch over the side of the boat? We'll do our best to find and recover your belongings
                        before they become the property of the creature from the black lagoon.
                    </p>
                </div>
                <div class="column has-text-centered">
                    <p class="title is-4">Training & Certification Renewal</p>
                    <p>With over 30 years of Dive Master experience, you too can learn how to SCUBA Dive and
                        experience all there is to see underwater. Whether you're a complete beginner, looking to
                        renew your certification, or add a new skill to your repertoire, we can help.
                    </p>
                </div>
            </div>

        </div>
        <div class="columns mt-6">
            <div class="column has-text-centered">
                <div class="content">
                    <h2 class="subtitle is-4">
                        With over 30 years of experience, we can get the job done for you.
                    </h2>
                    <a href="/" class="button is-primary"> Learn More </a>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-small is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="title is-2 mt-4">
                                What People Say About Our Work
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5">
                            “Mitch is the best teacher I've ever had. I learned how to SCUBA dive in 4 hours - no joke.”
                        </p>
                        <p class="subtitle">
                            Timothy J.
                        </p>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-content">
                        <p class="title is-5">
                            “I drank too much one night and dropped a gold bar off my boat. Mitch dove to the bottom
                            of the lake and found it the next morning and didn't try to keep any of it for himself.”
                        </p>
                        <p class="subtitle">
                            Daniel E.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5">
                            “Whatever asshole who built my house must have been doing meth, because my floatation
                            kept
                            leaking. Mitch patched it right up and now my house doesn't take on water like the Black
                            Pearl in
                            Disney's Pirates of the Carribean.”
                        </p>
                        <p class="subtitle">
                            Garrett G.
                        </p>
                    </div>
                </div>
                <div class="columns mt-4">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h2 class="subtitle is-4">
                                See what others have to say about our work.
                            </h2>
                            <a href="/" class="button is-primary"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("footer"); %>