<%- include("header"); %>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h2 class="title is-2">
                            Contact
                        </h2>
                        <p class="subtitle is-5 is-italic">
                            North Idaho Dive Services
                        </p>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <h2 class="subtitle is-4">
                                Email
                            </h2>
                            <a href="mailto: mitch@northidahodiveservices.com"><strong>mitch@northidahodiveservices.com</strong></a>
                        </div>
                        <div class="column">
                            <h2 class="subtitle is-4">
                                Telephone
                            </h2>
                            <a href="tel:1-805-331-3172"><strong>(805) 331-3172</strong></a>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <img id="aboutHeadshot" class="image is-2by1" src="../public/mitch3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-small has-background-white-bis">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column">
                        <div class="content">
                            <h2 class="title is-2 mt-4">
                                Our Process
                            </h2>
                            <p class="subtitle is-5 is-italic">
                                For installation, repair, maintenance, and recovery services.
                            </p>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column">
                                <p class="title is-5">1. Request
                                <p>
                                <p>Send us a message below or give us a call. We will contact you for additional details
                                    about
                                    your issue.
                                </p>
                            </div>
                            <div class="column">
                                <p class="title is-5">2. Survey
                                <p>
                                <p>If your issue is within our project scope, we'll schedule a time to survey your
                                    project.
                                </p>
                            </div>
                            <div class="column">
                                <p class="title is-5">3. Scope
                                <p>
                                <p>We'll develop and send you a proposal and quote and make sure we're on the same page.
                                </p>
                            </div>
                            <div class="column">
                                <p class="title is-5">4. Work!
                                <p>
                                <p>Mitch will come out and complete the proposed work.
                                </p>
                            </div>
                            <div class="column">
                                <p class="title is-5">5. We're done!
                                <p>
                                <p>Mitch will walk you through the work he did, ensuring everything is up to job
                                    specifications.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <%- include("footer"); %>