<%- include("header"); %>

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h1 class="title is-2 mb-4">
                                What People Say About Our Work
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    
                    <!-- column 1 -->
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <p class="is-italic"> Installation and Maintenance </p>
                                    <p class="title is-5">
                                        “As a floating home owner in Bayview, I have seen Mitch's work on a number of
                                        projects. Any
                                        job Mitch worked on in carpentry or in diving for home floatation issues has
                                        consistently
                                        been excellent!”
                                    </p>
                                    <p class="subtitle">
                                        Scott & Ann B.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card my-5">
                            <div class="card-content">
                                <div class="content">
                                    <p class="is-italic"> Installation and Maintenance </p>
                                    <p class="title is-5">
                                        “I have been so impressed by Mitch's work ethic and expertise in both his diving
                                        abilities and construction! Every time I have hired him he has exceeded my 
                                        expectations beyond words! He is clear in communicating! He finishes the jobs
                                        when he says he will! He bids a fair price! He stands behind his work! I can't 
                                        say enough about him! Top notch! You don't be dissapointed.”
                                    </p>
                                    <p class="subtitle">
                                        Gina T.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column 2 -->
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <p class="is-italic"> Installation and Maintenance </p>
                                    <p class="title is-5">
                                        “We first met Mitch when he did a dive for a purchase we were thinking about.
                                        He was professional and personable! He made a video for our archives and took
                                        notes of anything we needed to remedy. Mitch has an extra tool of knowledge - 
                                        due to his past as a builder. He greets you with a smile and you feel an instant
                                        trust in his care. Because of Mitch's dedication to perfection, we have called him
                                        back on several jobs. Giving Mitch 5 stars.”
                                    </p>
                                    <p class="subtitle">
                                        Dave & Robin L.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- column 3 -->
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <p class="is-italic"> Installation and Maintenance </p>
                                    <p class="title is-5">
                                        “Mitch has been wonderful! He is highly responsive to any questions we have had,
                                        professional, and makes sure that the job is done right! He is very knowledgeable
                                        about float homes and helped us get ours properly maintained and balanced. His prices
                                        are very reasonable as well. We would highly recommend Mitch to anyone needing a diver
                                        to assist you with your float home.”
                                    </p>
                                    <p class="subtitle">
                                        Scott & Tracy N.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card my-5">
                            <div class="card-content">
                                <div class="content">
                                    <p class="is-italic"> Training, Instruction, and Certification </p>
                                    <p class="title is-5">
                                        “Mitch is a very attentive, patient, and safety oriented instructor. Always 
                                        very professional, providing a fun learning environment, and willing to go 
                                        the extra mile to make sure you are comfortable in the water.”
                                    </p>
                                    <p class="subtitle">
                                        Molly R.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <%- include("footer"); %>