<%- include("header"); %>

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <div class="content">
                            <h1 class="title is-2 mb-4">
                                What People Say About Our Work
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">
                                        “Mitch is the best teacher I've ever had. I learned how to SCUBA dive in 4 hours
                                        - no joke.”
                                    </p>
                                    <p class="subtitle">
                                        Timothy J.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">

                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">
                                        “I used to be terrified of the water, yet now my lungs have been replaced with
                                        gills and I'm terrified of the land. Thanks Mitch!”
                                    </p>
                                    <p class="subtitle">
                                        Luke S.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">

                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">
                                        “He's a man, but loves the water...so Aquaman?”
                                    </p>
                                    <p class="subtitle">
                                        Darth V.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="card">

                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-5">
                                            “Mitch is the best teacher I've ever had. I learned how to SCUBA dive in 4
                                            hours
                                            - no joke.”
                                        </p>
                                        <p class="subtitle">
                                            Timothy J.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">

                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-5">
                                            “I used to be terrified of the water, yet now my lungs have been replaced
                                            with
                                            gills and I'm terrified of the land. Thanks Mitch!”
                                        </p>
                                        <p class="subtitle">
                                            Luke S.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">

                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-5">
                                            “He's a man, but loves the water...so Aquaman?”
                                        </p>
                                        <p class="subtitle">
                                            Darth V.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <%- include("footer"); %>